body {
   padding-top: 40px; padding-bottom: 40px; 
}

#forma-login { 
	max-width: 500px;
  	padding: 15px;
  	margin: 0 auto;
}

.marco { 
         border:1px solid #000; border-color:#999 ;
		 border-radius: 15px;
		 
		 
		 }

.cuadro {
	height:100px;
	background-color:#FF0000;	
}